.border-radius-100 {
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}
.solid-form .tab-container {
  text-align: center;
}
.solid-form .tab-container > label {
  display: inline-block;
  background: #353535;
  color: white;
  margin-top: 5px;
  padding: 0.5em 1.25em;
  min-width: 120px;
  margin-right: 3px;
}
.solid-form .tab-container > label:last-child {
  margin-right: 0 !important;
}
.solid-form .tab-container > label:hover {
  cursor: pointer;
}
.solid-form .tab-container > input {
  display: none;
}
.solid-form .tab-container > input:checked + label {
  background: #009688;
  cursor: default;
}
.solid-form .tab-container > input.tab-content-1:checked ~ ul > li.tab-content-1 {
  display: block;
}
.solid-form .tab-container > input.tab-content-2:checked ~ ul > li.tab-content-2 {
  display: block;
}
.solid-form .tab-container > input.tab-content-3:checked ~ ul > li.tab-content-3 {
  display: block;
}
.solid-form .tab-container > input.tab-content-4:checked ~ ul > li.tab-content-4 {
  display: block;
}
.solid-form .tab-container > input.tab-content-5:checked ~ ul > li.tab-content-5 {
  display: block;
}
.solid-form .tab-container > input.tab-content-6:checked ~ ul > li.tab-content-6 {
  display: block;
}
.solid-form .tab-container > input.tab-content-7:checked ~ ul > li.tab-content-7 {
  display: block;
}
.solid-form .tab-container > input.tab-content-8:checked ~ ul > li.tab-content-8 {
  display: block;
}
.solid-form .tab-container > input.tab-content-9:checked ~ ul > li.tab-content-9 {
  display: block;
}
.solid-form .tab-container > input.tab-content-10:checked ~ ul > li.tab-content-10 {
  display: block;
}
.solid-form .tab-container > input.tab-content-11:checked ~ ul > li.tab-content-11 {
  display: block;
}
.solid-form .tab-container > input.tab-content-12:checked ~ ul > li.tab-content-12 {
  display: block;
}
.solid-form .tab-container .tab-content-container {
  position: relative;
  list-style: none;
  display: block;
  margin-top: 0;
}
.solid-form .tab-container .tab-content-container > .tab-content-1,
.solid-form .tab-container .tab-content-container > .tab-content-2,
.solid-form .tab-container .tab-content-container > .tab-content-3,
.solid-form .tab-container .tab-content-container > .tab-content-4,
.solid-form .tab-container .tab-content-container > .tab-content-5,
.solid-form .tab-container .tab-content-container > .tab-content-6,
.solid-form .tab-container .tab-content-container > .tab-content-7,
.solid-form .tab-container .tab-content-container > .tab-content-8,
.solid-form .tab-container .tab-content-container > .tab-content-9,
.solid-form .tab-container .tab-content-container > .tab-content-10,
.solid-form .tab-container .tab-content-container > .tab-content-11,
.solid-form .tab-container .tab-content-container > .tab-content-12 {
  display: none;
}
.solid-form .tab-container .tab-content-container > .tab-content-1 > div,
.solid-form .tab-container .tab-content-container > .tab-content-2 > div,
.solid-form .tab-container .tab-content-container > .tab-content-3 > div,
.solid-form .tab-container .tab-content-container > .tab-content-4 > div,
.solid-form .tab-container .tab-content-container > .tab-content-5 > div,
.solid-form .tab-container .tab-content-container > .tab-content-6 > div,
.solid-form .tab-container .tab-content-container > .tab-content-7 > div,
.solid-form .tab-container .tab-content-container > .tab-content-8 > div,
.solid-form .tab-container .tab-content-container > .tab-content-9 > div,
.solid-form .tab-container .tab-content-container > .tab-content-10 > div,
.solid-form .tab-container .tab-content-container > .tab-content-11 > div,
.solid-form .tab-container .tab-content-container > .tab-content-12 > div {
  padding: 1em;
}
